Repository aurora-is-near/bridge-assets, pull requests merged in 2021-11, with the labels that each got.

#18 Add REF metadata
  README.md
  tokens/ref.json
  tokens/ref.svg
Labels: new-token

#17 Add XNL metadata
  tokens/xnl.json
  tokens/xnl.svg
Labels: new-token

#19 Create tokenlist generation tool
  assets/aurora.tokenlist.json
  assets/tokenlist.schema.json
  tools/generate_token_list.py
  tools/requirements.txt
Labels: enhancement

#22 Add AURORA metadata
  tokens/aurora.json
  tokens/aurora.svg
Labels: new-token

#23 Add TRI token metadata
  tokens/tri.json
  tokens/tri.svg
Labels: new-token

#24 Fix TRI token address typo
  tokens/tri.json
Labels: bug

#28 Add BAT metadata
  tokens/bat.json
  tokens/bat.svg
Labels: new-token

#29 Add FRAX, FXS metadata
  tokens/frax.json
  tokens/frax.svg
  tokens/fxs.json
  tokens/fxs.svg
Labels: new-token

#31 Update XNL token metadata
  tokens/xnl.json
Labels: update-token

#32 Add MODA metadata
  tokens/moda.json
  tokens/moda.svg
Labels: new-token

#35 Add LUNA, UST metadata
  tokens/luna.json
  tokens/luna.svg
  tokens/ust.json
  tokens/ust.svg
Labels: new-token

#37 Generate tokens list using UTC datetime
  tools/generate_token_list.py
Labels: enhancement

#38 [TESTNET] Add OIN token metadata
  tokens/oin_testnet.json
  tokens/oin_testnet.svg
Labels: new-token, testnet

#40 Add DODO metadata
  tokens/dodo.json
  tokens/dodo.svg
Labels: new-token
