Repository aurora-is-near/bridge-assets, pull requests merged in 2021-12, with the labels that each got.

#39 Add PULSE metadata
  tokens/pulse.json
  tokens/pulse.svg
Labels: new-token

#41 Add FLX metadata
  tokens/flx.json
  tokens/flx.svg
Labels: new-token

#43 Update DODO token metadata: add icon
  tokens/dodo.json
Labels: update-token

#49 Add UMINT token metadata
  tokens/umint.json
  tokens/umint.svg
Labels: new-token

#46 Add MNFT token metadata
  tokens/mnft.json
  tokens/mnft.svg
Labels: new-token

#50 Update tokens list
  assets/aurora.tokenlist.json
Labels: enhancement

#48 Add agEUR, Angle tokens metadata
  tokens/ageur.json
  tokens/ageur.svg
  tokens/angle.json
  tokens/angle.svg
Labels: new-token

#51 Add KSW token metadata
  tokens/ksw.json
  tokens/ksw.svg
Labels: new-token

#47 Add META, stNEAR tokens metadata
  tokens/meta.json
  tokens/meta.svg
  tokens/stnear.json
  tokens/stnear.svg
Labels: new-token

#59 Add atUST, atLUNA, ABR tokens metadata
  tokens/abr.json
  tokens/abr.svg
  tokens/atluna.json
  tokens/atluna.svg
  tokens/atust.json
  tokens/atust.svg
Labels: new-token

#56 Add OIN token metadata
  tokens/oin.json
  tokens/oin.svg
Labels: new-token

#64 Update OIN token metadata
  tokens/oin.json
Labels: update-token

#62 Add PICKLE token metadata
  tokens/pickle.json
  tokens/pickle.svg
Labels: new-token

#58 Update XNL token metadata (icon)
  tokens/xnl.svg
Labels: update-token

#54 Add NDOL, NECC, nNECC tokens metadata
  tokens/ndol.json
  tokens/ndol.svg
  tokens/necc.json
  tokens/necc.svg
  tokens/nnecc.json
  tokens/nnecc.svg
Labels: new-token

#66 Add PAD (SmartPad Token) token metadata
  tokens/smartpad.json
  tokens/smartpad.svg
Labels: new-token

#68 Update XNL token metadata
  tokens/xnl.json
Labels: update-token
