Repository aurora-is-near/bridge-assets, pull requests merged in 2022-08, with the labels that each got.

#209 Add CGT token metadata
  tokens/cgt.json
  tokens/cgt.svg
Labels: new-token, bridge-token

#211 # Add NSTART token metadata
  tokens/nstart.json
  tokens/nstart.svg
Labels: new-token, bridge-token

#212 Update CGT token metadata: add NEAR address
  tokens/cgt.json
Labels: update-token, bridge-token

#210 Add NearX token metadata
  tokens/nearx.json
  tokens/nearx.svg
Labels: new-token, bridge-token

#213 [TESTNET] Add NearX token metadata
  tokens/nearx_testnet.json
  tokens/nearx_testnet.svg
Labels: new-token, testnet, bridge-token

#214 Add SD token metadata
  tokens/sd.json
  tokens/sd.svg
Labels: new-token, bridge-token

#220 Update AURORA-2211 token metadata: fix symbol
  tokens/aurora_2211.json
Labels: update-token, bridge-token

#218 Add NEARIA token metadata
  tokens/nearia.json
  tokens/nearia.svg
Labels: new-token, bridge-token
