Repository aurora-is-near/bridge-assets, pull requests merged in 2022-02, with the labels that each got.

#105 Add MECHA token metadata
  tokens/mecha.json
  tokens/mecha.svg
Labels: new-token, aurora-native-token

#108 Update wNEAR token
  tokens/wnear.json
Labels: update-token

#109 Add NEAR token metadata
  tokens/near.json
Labels: new-token

#111 Update SOLACE token metadata (icon)
  tokens/solace.json
Labels: update-token, bridge-token

#115 Fix FAME token metadata
  tokens/fame.json
Labels: update-token

#117 Update PACHA token metadata: add icon
  tokens/pacha.json
Labels: update-token, bridge-token

#119 [Testnet] Add SPRCE token metadata
  tokens/sprce_testnet.json
  tokens/sprce_testnet.svg
Labels: new-token, bridge-token

#122 add woo token metadata
  tokens/woo.json
  tokens/woo.svg
Labels: new-token, bridge-token

#123 Update WOO token metadata: add icon
  tokens/woo.json
Labels: update-token, bridge-token

#125 [Testnet] Update SOLACE token metadata: add icon
  tokens/solace_testnet.json
Labels: update-token, testnet, bridge-token

#57 Add xTRI metadata
  tokens/xtri.json
  tokens/xtri.svg
Labels: new-token

#126 Add POLAR and SPOLAR tokens to metadata
  tokens/polar.json
  tokens/polar.svg
  tokens/spolar.json
  tokens/spolar.svg
Labels: new-token, aurora-native-token
