Repository aurora-is-near/bridge-assets, pull requests merged in 2022-03, with the labels that each got.

#127 Update BIVE token metadata: fix icon
  tokens/bive.json
  tokens/bive.svg
Labels: update-token, aurora-native-token

#128 Add VRA token metadata
  tokens/vra.json
  tokens/vra.svg
Labels: new-token, aurora-native-token

#129 Add BSTN token metadata
  tokens/bstn.json
  tokens/bstn.svg
Labels: new-token, bridge-token

#132 Add aUSDO token metadata
  tokens/aUSDO.json
  tokens/aUSDO.svg
Labels: new-token, aurora-native-token

#135 Add DLTA token metadata
  tokens/dlta.json
  tokens/dlta.svg
Labels: new-token, bridge-token

#137 Add rMC token metadata
  tokens/rmc.json
  tokens/rmc.svg
Labels: new-token, bridge-token

#138 Update DLTA token metadata: fix icon
  tokens/dlta.json
Labels: update-token, bridge-token

#139 Add BBT token metadata
  tokens/bbt.json
  tokens/bbt.svg
Labels: new-token, aurora-native-token

#141 Add TUSD token metadata
  tokens/tusd.json
  tokens/tusd.svg
Labels: new-token, bridge-token

#142 Update REF token metadata
  tokens/ref.json
Labels: update-token, bridge-token

#143 Add LUNAR token metadata
  tokens/lunar.json
  tokens/lunar.svg
Labels: new-token, aurora-native-token

#144 Update HAPI token metadata: add addresses
  tokens/hapi.json
Labels: update-token, bridge-token

#146 Add LINEAR token metadata
  tokens/linear.json
  tokens/linear.svg
  tokens/linear_testnet.json
  tokens/linear_testnet.svg
Labels: new-token, bridge-token
