Repository aurora-is-near/bridge-assets, pull requests merged in 2022-05, with the labels that each got.

#169 Add END token metadata
  tokens/end.json
  tokens/end.svg
Labels: new-token, bridge-token

#171 Update END token metadata: fix icon
  tokens/end.json
  tokens/end.svg
Labels: update-token, bridge-token

#172 Add TAO token metadata
  tokens/tao.json
  tokens/tao.svg
Labels: new-token, bridge-token

#174 Update TAO token metadata: add NEAR address
  tokens/tao.json
Labels: update-token, bridge-token

#175 Add MYRIA token metadata
  tokens/myria.json
  tokens/myria.svg
Labels: new-token, bridge-token

#176 Add PEM token metadata
  tokens/pem.json
  tokens/pem.svg
Labels: new-token, bridge-token

#177 Update PEM token metadata: add icon, missing fields
  tokens/pem.json
Labels: update-token, bridge-token

#179 Add ETHERNAL token metadata
  tokens/ethernal.json
  tokens/ethernal.svg
Labels: new-token, aurora-native-token

#180 Add USDD token metadata
  tokens/usdd.json
  tokens/usdd.svg
Labels: new-token, bridge-token

#181 Update USDD token metadata: add icon
  tokens/usdd.json
Labels: update-token, bridge-token
