Repository aurora-is-near/bridge-assets, pull requests merged in 2022-10, with the labels that each got.

#227 Update $META and STNEAR icons.
  tokens/$meta.json
  tokens/$meta.svg
  tokens/stnear.json
  tokens/stnear.svg
Labels: update-token, bridge-token

#234 Add DPI token metadata
  tokens/dpi.json
  tokens/dpi.svg
Labels: new-token, bridge-token

#235 Update DPI token metadata: add NEP-141 address
  tokens/dpi.json
Labels: update-token, bridge-token

#226 Add BRGT token metadata
  tokens/brgt.json
  tokens/brgt.svg
Labels: new-token, bridge-token

#237 Update USDT.e token metadata: add NEP-141 address
  tokens/usdt.e.json
Labels: update-token, bridge-token

#233 [TESTNET] Update NEARX token metadata
  tokens/nearx_testnet.json
  tokens/nearx_testnet.svg
Labels: update-token, testnet, bridge-token

#238 Add COR token metadata
  tokens/cor.json
  tokens/cor.svg
Labels: new-token, bridge-token

#239 Update USDC token metadata: add NEAR address
  tokens/usdc.json
Labels: update-token, bridge-token
