Repository aurora-is-near/bridge-assets, pull requests merged in 2022-06, with the labels that each got.

#185 light token metadata
  tokens/light_testnet.json
  tokens/light_testnet.svg
Labels: new-token, testnet, bridge-token

#189 Add MCOIN token metadata
  tokens/mcoin.json
  tokens/mcoin.svg
Labels: new-token, aurora-native-token

#191 Add ORBITAL token metadata
  tokens/orbital.json
  tokens/orbital.svg
Labels: new-token, aurora-native-token

#193 Add LTS token metadata
  tokens/lights.json
  tokens/lights.svg
Labels: bridge-token

#194 [TESTNET] Add RJSDT token metadata
  tokens/RJSDTSTT_testnet.json
  tokens/RJSDTSTT_testnet.svg
Labels: testnet, bridge-token

#196 README: improve PR policies
  README.md
Labels: documentation

#197 Fix LTS token metadata path
  tokens/lts.json
  tokens/lts.svg
Labels: bug, bridge-token

#198 [TESTNET] Add WOO token metadata
  tokens/woo_testnet.json
  tokens/woo_testnet.svg
Labels: testnet, bridge-token

#199 [TESTNET] Add LIFT token metadata
  tokens/lift_testnet.json
  tokens/lift_testnet.svg
Labels: new-token, testnet, bridge-token

#200 README: update Testnet info
  README.md
Labels: documentation
