Repository aurora-is-near/bridge-assets, pull requests merged in 2022-01, with the labels that each got.

#69 Add WSTR token metadata
  tokens/wstr.json
  tokens/wstr.svg
Labels: new-token

#70 Add NFD token metadata
  tokens/nfd.json
  tokens/nfd.svg
Labels: new-token

#78 Update CRF token metadata: add Aurora address, icon.
  tokens/crf.json
Labels: update-token

#80 Add JUMBO metadata
  tokens/jumbo.json
  tokens/jumbo.svg
Labels: new-token

#85 Update OCT token metadata: add Aurora address.
  tokens/oct.json
Labels: new-token

#82 Add missing wnear.svg icon
  tokens/wnear.svg
Labels: new-token

#79 [TESTNET] Add rMutantCoin metadata
  tokens/rmutantcoin_testnet.json
  tokens/rmutantcoin_testnet.svg
Labels: new-token, testnet

#74 [TESTNET] Add SWT metadata
  tokens/swt_testnet.json
  tokens/swt_testnet.svg
Labels: new-token, testnet

#91 README: minor improvements
  README.md
Labels: documentation

#89 Add bHOME token metadata
  tokens/bhome.json
  tokens/bhome.svg
Labels: new-token

#88 Add abBUSD and SOL tokens metadata
  tokens/abr_busd.json
  tokens/abr_busd.svg
  tokens/abr_sol.json
  tokens/abr_sol.svg
Labels: new-token

#93 Tokens list gen tool: skip testnet tokens
  tools/generate_token_list.py
Labels: enhancement

#94 Tokens list gen tool: add Allbridge tag description
  tools/generate_token_list.py
Labels: enhancement

#90 Add GRQ testnet metadata
  tokens/grq_testnet.json
  tokens/grq_testnet.svg
Labels: new-token, testnet

#98 Add WANNA token metadata
  tokens/wanna.json
  tokens/wanna.svg
Labels: new-token

#99 Update bHOME token metadata: fix name
  tokens/bhome.json
Labels: update-token

#86 Add AVRIT token metadata
  tokens/avrit.json
  tokens/avrit.svg
Labels: new-token

#104 Add SOLACE token metadata
  tokens/solace.json
  tokens/solace.svg
  tokens/solace_testnet.json
  tokens/solace_testnet.svg
Labels: new-token
