Repository aurora-is-near/bridge-assets, pull requests merged in 2022-07, with the labels that each got.

#203 Add USP token metadata
  tokens/usp.json
  tokens/usp.svg
Labels: new-token, aurora-native-token

#204 [TESTNET] Add SWEAT token metadata
  tokens/sweat_testnet.json
  tokens/sweat_testnet.svg
Labels: new-token, testnet, bridge-token

#205 Add BEPRO token metadata
  tokens/bepro.json
  tokens/bepro.svg
Labels: new-token, bridge-token

#206 Update BEPRO token metadata: add icon, other fields
  tokens/bepro.json
Labels: update-token, bridge-token

#207 Add AURORA_2211 token metadata
  tokens/aurora_2211.json
  tokens/aurora_2211.svg
Labels: new-token, bridge-token

#208 Update AURORA_2211 token metadata: update icon
  tokens/aurora_2211.json
  tokens/aurora_2211.svg
Labels: update-token, bridge-token
