Repository aurora-is-near/bridge-assets, pull requests merged in 2022-04, with the labels that each got.

#150 Add QD token metadata
  tokens/quid.json
  tokens/quid.svg
Labels: new-token, bridge-token

#152 Add OCEAN token metadata
  tokens/ocean.json
  tokens/ocean.svg
Labels: new-token, bridge-token

#153 Add SFT token metadata
  tokens/sft.json
  tokens/sft.svg
Labels: new-token, bridge-token

#157 Add TRIPOLAR token metadata
  tokens/tripolar.json
  tokens/tripolar.svg
Labels: new-token, aurora-native-token

#155 Update SFT token metadata
  tokens/sft.json
Labels: update-token, bridge-token

#158 Update QUID token metadata: add icon field
  tokens/quid.json
Labels: update-token, bridge-token

#160 Add ANS token metadata
  tokens/ans.json
  tokens/ans.svg
Labels: new-token, bridge-token

#161 Add HBTC token metadata
  tokens/hbtc.json
  tokens/hbtc.svg
Labels: new-token, bridge-token

#163 Add GATA token metadata
  tokens/gata.json
  tokens/gata.svg
Labels: new-token, aurora-native-token

#165 Add USN token metadata
  tokens/usn.json
  tokens/usn.svg
Labels: new-token, bridge-token

#167 Add DBIO token metadata
  tokens/debio.json
  tokens/debio.svg
Labels: new-token, bridge-token

#168 Update DBIO token: fix file path
  tokens/dbio.json
  tokens/dbio.svg
Labels: update-token

#164 Add ATO token metadata
  tokens/ato.json
  tokens/ato.svg
Labels: new-token, bridge-token
