Repository aurora-is-near/bridge-assets, pull requests merged in 2023-03, with the labels that each got.

#251 Update BST token metadata: fix icon
  tokens/bst.json
Labels: update-token, bridge-token

#252 [TESTNET] Add SPIN token metadata
  tokens/spin_testnet.json
  tokens/spin_testnet.svg
Labels: new-token, testnet, bridge-token

#253 Add EURe token metadata
  tokens/EURe.json
  tokens/EURe.svg
Labels: new-token, bridge-token
